[spotify]
authorize_url = 'https://accounts.spotify.com/authorize'
access_token_url ='https://accounts.spotify.com/api/token'
client_id = 'your client id'
client_secret = 'your secret id'
redirect_uri = 'your uri (http)'
redirect_uri_secure = 'your uri (https)'
